@font-face {
    font-family: Brick Sans;
    src: url(../fonts/NTBrickSans/NTBrickSans.ttf);
}

@font-face {
    font-family: g1;
    src: url(../fonts/Hoves/TT\ Hoves\ Pro\ Trial\ Thin.ttf);
}

@font-face {
    font-family: g2;
    src: url(../fonts/Hoves/TT\ Hoves\ Pro\ Trial\ Regular.ttf);
}

@font-face {
    font-family: g3;
    src: url(../fonts/Hoves/TT\ Hoves\ Pro\ Trial\ Bold.ttf);
}

.nav-link.btn {
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.btn:hover {
    background-color: #FFEBB6;
    color: #1B3B55;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #98cfd8;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 2px 0px 5px #333333;
    color: white;
    padding: 1rem 0;
}

#reg2{
    align-items: center;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0px 2px 5px #333333;
}

.navbar{
    font-family: Brick Sans;
    padding: 5px;
}

#fb{
    background-color: #3b5998;
}

#message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#txt{
    font-family: g3;
    text-align: center;
}

#txt2{
    font-family: g2;
    text-align: center;
}

#txt3{
    font-family: g3;
    text-align: center;
}

#create_post{
    background-color: #214663;
    padding: 20px;
    border-radius: 15px;
    font-family: g2;
}

#create_btn{
    background-color: #2E6F85;
    color: white;
}

#txt4{
    font-family: g3;
    text-align: center;
}

#txt5{
    font-family: g3;
    text-align: center;
}

#login{
    font-family: g2;
}

#txt6{
    font-family: g3;
    text-align: center;
}

#txt7{
    font-family: g3;
    text-align: center;
}

#register{
    font-family: g2;
}

#txt8{
    font-family: g3;
    color: #FCB7CE;
}

#post_header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 5px #777;
}

#post_body{
    font-family: g2;
    font-size: large;
}

#comment_header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 5px #777;
}

#content_card{
    border: #FCB7CE solid 4px;
}

#view_btn{
    background-color: #214663;
    color: white;
}

#about{
    font-family: g2;
}